.brand {
  font-size: 32px;
  color: var(--color-2)
}

.card {
    display: flex;
    flex-direction: column;
}

.bordered {
  border: 1px solid var(--color-2);
}

.card__cover {
    height: 150px;
    width: 100%;
}

.card__content {
    flex: 1;
}

.card__title {
  color: var(--color-1);
  margin-bottom: 20px;
}

.btn {
  padding: 15px 25px;
  color: var(--color-1);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
  cursor: pointer;
}

.btn__primary {
  background-color: var(--color-4);
}

.btn__info {
  background-color: cornflowerblue;
  color: #fff;
}

.btn__danger {
  background-color: brown;
  color: #fff;
}

.btn__block {
  width: 100%;
}

form .form__control {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

form .form__control input[type=checkbox] {
  width: 20px;
  border-radius: 50px;
}

form .form__control .custom__checkbox {
  display: flex;
  direction: row;
  align-items: center;
}

form .form__control .custom__checkbox label {
  padding-left: 10px;
  color: #354259cf;
}

form .form__control label {
  font-size: 16px;
  color: var(--color-1);
  font-weight: bold;
  margin-bottom: 5px;
}

form .form__control input {
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
}

form .form__control input:focus {
  outline-color: var(--color-4);
}

.search__bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search__bar input[type=text] {
  display: block;
  height: 45px;
  width: 300px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  margin-right: 10px;
}
.search__bar input[type=text]:focus {
  outline-color: var(--color-4);
}

.modal {
  z-index: 999;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #3542599b;
  justify-content: center;
  align-items: center;
}
.modal .modal__dialog {
  background-color: #fff;
  width: 400px;
  padding: 40px 30px;
  border-radius: 10px;
}
.modal .modal__content {
  font-size: 18px;
  font-weight: bold;
}
.modal .modal__footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.modal.active {
  display: flex;
}

.notif {
  display: none;
  position: fixed;
  right: 30px;
  bottom: 50px;
  padding: 20px 30px;
  border-radius: 10px;
  color: var(--color-1);
  border: 1px solid var(--color-1);
}
.notif.active {
  display: block;
}
.notif.notif__success {
  background-color: var(--color-4);
}

@media only screen and (max-width: 816px)  {
  .card {
    margin: 10px 0;
  }
  .search__bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .search__bar input[type=text] {
    height: 50px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    width: 100%;
    margin: 10px 0;
  }
  .search__bar input[type=text]:focus {
    outline-color: var(--color-4);
  }
  .search__bar button {
    width: 100%;
  }
  .modal {
    z-index: 999;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #3542599b;
    justify-content: center;
    align-items: center;
  }
  .modal .modal__dialog {
    background-color: #fff;
    width: 400px;
    padding: 40px 30px;
    border-radius: 10px;
  }
  .modal .modal__content {
    font-size: 18px;
    font-weight: bold;
  }
  .modal .modal__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  .modal.active {
    display: flex;
  }
}