:root {
  --color-1: #354259;
  --color-2: #CDC2AE;
  --color-3: #ECE5C7;
  --color-4: #C2DED1;
}

html, body, * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--color-3);
  font-family: sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.blur {
  filter: blur(1.5px);
}

.container__sidebar {
  background-color: var(--color-2);
  padding: 30px 35px;
  width: 30%;
  height: 100%;
}

.container__main {
  flex: 1;
  overflow: auto;
  padding: 30px 35px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-1);
  padding: 20px 0;
}

.shelf {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.shelf .shelf__item {
  padding: 20px 10px;
  border: 1px solid var(--color-2);
  border-radius: 5px;
  margin: 10px 10px;
}
.shelf .shelf__item .shelf__title {
  font-size: 20px;
  color: var(--color-1);
}
.shelf .shelf__item .shelf__subtitle {
  font-size: 16px;
  color: var(--color-1);
  margin: 10px 0;
  font-weight: lighter;
}
.btn__group {
  display: flex;
  flex-direction: row;
}

.btn__group button {
  margin: 0 10px;
}

@media only screen and (max-width: 816px)  {
  .container {
    display: block;
    padding: 30px 20px;
  }
  .container__sidebar {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    height: max-content;
    margin-bottom: 20px;
  }
  .container__main {
    padding: 20px;
    background-color: var(--color-2);
    border-radius: 10px;
  }
  .shelf {
    display: flex;
    flex-direction: column;
  }
  .shelf .shelf__item {
    padding: 20px 10px;
    border: 1px solid var(--color-3);
    border-radius: 5px;
    margin: 10px 0;
  }
  .shelf .shelf__item .shelf__title {
    font-size: 20px;
    color: var(--color-1);
  }
  .shelf .shelf__item .shelf__subtitle {
    font-size: 16px;
    color: var(--color-1);
    margin: 10px 0;
    font-weight: lighter;
  }
  .btn__group {
    display: flex;
    flex-direction: column;
  }
  .btn__group button {
    margin: 5px 0;
  }
}